@model IEnumerable<image_repository.Models.ImageModel>

@{
  ViewData["Title"] = "Image Repository";
}

<div style="display:flex; justify-content:center;">
  <div style="max-width:60%;">
    <form asp-action="Index" class="input-group">
      <input type="search" class="form-control rounded" placeholder="Search Image" aria-label="Search Image"
              aria-describedby="search-addon" name="searchString" />
      <button type="submit" class="btn btn-outline-primary" style="margin-right:10px;">search</button>
      <a asp-action="Create" class="btn btn-outline-primary">Upload Image</a>
    </form>
  </div>
</div>

@foreach (var item in Model) {
  <div class="card a">
    <a asp-action="Details" asp-route-id="@item.ImageId">
      <img src="@("~/image/"+ item.ImageName)" asp-append-version="true" class="card-img-top" width="250px" height="250px">
    </a>
    <div class="card-body">
      <h5 class="card-title">@item.Title</h5>
      <a asp-action="Edit" asp-route-id="@item.ImageId" class="btn btn-primary">Edit</a>
      <a asp-action="Delete" asp-route-id="@item.ImageId" class="btn btn-danger">Delete</a>
    </div>
  </div>
}

@section Styles { 
<style>
  .a {
    width: 18rem;
    display: inline-block;
    margin: 10px;
    
    z-index: 0;
  } 
  .a:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    transition-duration: .3s;
  }
</style>
}

